*.sublime-*
src-old
GeneratedFiles
.vs
debug
release
*.vcxproj*
*.sln
*.rc
x64
target_wrapper.bat
.qmake.stash
build-tikzit-*
*.pro.user
*.autosave
Makefile
tikzit.app
target_wrapper.sh
src/data/tikzlexer.lexer.cpp
src/data/tikzparser.parser.cpp
src/data/tikzparser.parser.hpp
*.o
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
tikzit
