GeneratedFiles
.vs
debug
release
*.vcxproj*
*.sln
x64
target_wrapper.bat
.qmake.stash
build-tikzit-*
*.pro.user
*.autosave
Makefile
tikzit.app
target_wrapper.sh
src/data/tikzlexer.lexer.cpp
src/data/tikzparser.parser.cpp
src/data/tikzparser.parser.hpp
*.o
