<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>tikzit</string>
	<key>CFBundleIconFile</key>
	<string>tikzit.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.tikzit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleVersion</key>
	<string>@FULL_VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@FULL_VERSION@</string>
</dict>
</plist>
