*~
*.swp
*.o
.deps
.dirstamp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/src/tikzit
/src/tikzit.res
/src/common/tikzlexer.m
/src/common/tikzparser.m
/src/common/tikzparser.h
/src/gtk/icondata.m
/src/gtk/logodata.m
/src/gtk/edgedecdata.m
