[Desktop Entry]
Version=1.0
Type=Application
Name=TikZit
Comment=Editor for PGF/TikZ-based node-and-edge graphs for LaTeX documents
GenericName=TikZ Graph Editor
MimeType=text/x-tikz
Exec=tikzit
Icon=tikzit
Categories=GTK;Graphics;Education;Science;
StartupNotify=false
