[Desktop Entry]
Version=1.0
Type=Application
Name=TikZit
Comment=TeX pgf/TikZ graph editor
GenericName=TikZ Graph Editor
MimeType=text/x-tikz
Exec=tikzit
Icon=tikzit
Categories=GTK;Graphics;Education;Science;
StartupNotify=false
